<div class="card-columns m-5 animated fadeIn">
    <!-- Debemos poner el nombre de la variable que recibimos como Input (movies) -->
      <div (click)="showMovie(movie)" *ngFor="let movie of movies" class="card puntero">
        <img class="card-img-top" [src]="movie.imgUrl.poster_path"
        >
        <div class="card-body">
          <h5 class="card-title">
              {{ movie.title }}              
          </h5>
          <!-- <p class="card-text">
              <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">{{ artist.name }}</span>
          </p> -->
        </div>
      </div>
</div>    
